* {
    margin: 0;
    padding: 0;
    }

body {

    display: flex;
    flex-direction: column;
    justify-content: center;
}

.header {

    display: flex;
    justify-content: space-between;
}

.headermenu {

    display: flex;
}

.headermenu ul {
    display: flex;
}

.awesomecontainer {

    display: flex;
    align-items: center;
}

.awesomecontent {

    display: flex;
    flex-direction: column;
}

.awesomeimage {
    width: 300px 600px;
}

.randomcontainer {

    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
}

.randomh2 {


}

.randomgallery {
    display: flex;
    flex-direction: column;
}

.inspiringcontainer {

    display: flex;
}