* {
    margin: 0;
    padding: 0;
    }

body {

    display: flex;
    flex-direction: column;
    justify-content: center;
    font-family: 'Roboto', sans-serif;
}

.header {

    display: flex;
    background-color: #1f2937;
    padding: 12px 150px;
    align-items: center;
}

.headerlogo {
    font-size: 24px;
    color: #f9faf8;
    
}

.headermenu {

    display: flex;
    margin-left: auto;
}

.headermenu ul {
    display: flex;
    list-style: none;
    gap: 24px;
    
}

.headermenu ul li {
    font-size: 18px;
    color: #E5E7EB;
    text-decoration: none;

}

.awesomecontainer {

    display: flex;
    align-items: center;
    background-color: #1f2937;
}

.awesomecontent {

    display: flex;
    flex-direction: column;
}

.awesomeimage {
    width: 300px 600px;
}

.randomcontainer {

    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
}

.randomh2 {


}

.randomgallery {
    display: flex;
    flex-direction: column;
}

.inspiringcontainer {

    display: flex;
}

.actioncontainer {

    display: flex;
    justify-content: center;
    align-items: center;
}

.actionbluecontainer {
    
    display: flex;
    justify-content: space-between;
    align-items: center;

}

.actionbluecontainertext {

    display: flex;
    flex-direction: column;

}

.footer {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #1f2937;
}