* {
    margin: 0;
    padding: 0;
    }

body {

    display: flex;
    flex-direction: column;
    justify-content: center;
    font-family: 'Roboto', sans-serif;
}

.header {

    display: flex;
    flex: 1 1 auto;
    background-color: #1f2937;
    padding: 12px 380px;
    align-items: center;
}

.headerlogo {
    font-size: 24px;
    font-weight: bold;
    color: #f9faf8;
    flex: 1 0 auto;
    
}

.headermenu {

    display: flex;
    margin-left: auto;
}

.headermenu ul {
    display: flex;
    list-style: none;
    gap: 24px;
    
}

.headermenu ul li {
    font-size: 18px;
    color: #E5E7EB;
    text-decoration: none;

}

.awesomecontainer {

    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 64px;
    background-color: #1f2937;
    padding: 150px 380px;
}

.awesomecontent {

    display: flex;
    flex-direction: row;
    flex: 1 1 auto;
    flex-wrap: wrap;
    max-width: 500px ;
    height: 200px;
}

.awesomecontent h1 {

    font-size: 48px;
    font-weight: 900;
    color: #f9faf8;
    flex: 1 1 auto;
    flex-wrap: wrap;
    width: 350px;
}

.awesomecontent p {

    font-size: 18px;
    color: #E5E7EB;
}

.awesomecontent button {
    background-color: #3882F6;
    color: white;
    border-radius: 15%;
    align-self: flex-start;
    padding: 6px 16px;
}
.awesomeimage {
    width: 500px;
    height: 200px;
    background-color: bisque;
    display: flex;
    justify-content: center;
    align-items: center;
}


.randomcontainer {

    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    padding: 24px 0px;
    margin-bottom: 64px;
}

.randomh2 {

    font-size: 36px;
    font-size: larger;
    color: #1f2937;
    margin-bottom: 24px;
}

.randomgallery {
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 16px;
}

.randomimage {

    flex: 1 1 auto;
    overflow: hidden;

}

.randomimagetext {
    
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;


}


.randomimage img {

    width: 200px;
    height: 200px;
    object-fit: cover;
}

.randomtext {

    flex: 1 1 auto;
    flex-wrap: wrap;
    max-width: 150px;
    text-align: center;
}

.inspiringcontainer {

    display: flex;
    background-color: #E5E7EB ;
    justify-content: center;
    align-items: center;
    padding: 64px 0;
}

.blockandcite {
    width: 44%;
}

.inspiringcontainer blockquote {

    font-weight: lighter;
    font-style: italic;
    color: #1f2937;
    font-size: 36px;
}

.inspiringcontainer cite {

    display: block;
    text-align: right;
    font-style: normal;
    font-size: larger;
    font-weight: 600;

}


.actioncontainer {

    display: flex;
    justify-content: center;
    align-items: center;
}

.actionbluecontainer {
    
    display: flex;
    justify-content: space-between;
    align-items: center;

}

.actionbluecontainertext {

    display: flex;
    flex-direction: column;

}

.footer {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #1f2937;
}